/* Grant Nelson and John M. Singleton */
/* CSCI 520 - Distributed Systems     */
/* Project 2 (Consensus Project)      */
/* due Apr 6, 2020 by 11:59 PM        */

#title {
  text-align: center;
  font-size: 160%;
}

#authors {
  text-align: center;
  font-size: 80%;
}

#stateElem {
  text-align: center;
  font-size: 200%;
}

.container {
  position: relative;
}

.baseImage {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
