#title {
  text-align: center;
  font-size: 160%;
}

#authors {
  text-align: center;
  font-size: 80%;
}

#stateElem {
  text-align: center;
  font-size: 200%;
}

.container {
  position: relative;
}

.baseImage {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.grayedOut {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.clickable {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.clickable:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
